<div class="exercise">
  <div class="exercise-topic">{{ exercise.topic }}</div>
  <br />
  <div [mathjax]="exercise.text"></div>
  <br />
  <form (ngSubmit) = "checkSolution()">
    <div *ngIf="exercise.choice">
      <div class="exercise-type-hint">Wähle die richtige Antwort aus</div>
      <br />
      <div class="exercise-choice" *ngFor="let choice of exercise.choice; index as idx">
        <input type="radio" name="solution" [value]="idx" [(ngModel)]="choosenSolution">{{ choice }}
      </div>
    </div>
    <div *ngIf="!exercise.choice">
      <div class="exercise-type-hint">Gib hier Deine Antwort ein</div>
      <br />
      <input type="number" name="solution" [(ngModel)]="choosenSolution">
    </div>
    <div [hidden]="!checkable">
      <br />
      <button class="exercise-check-button">Prüfen</button>
      <div class="exercise-result">{{ resultText }}</div>
    </div>
  </form>
</div>