<div class="exercise-block">
    <div class="exercise-test-header">Übungsmodus <button (click)="refresh()">Aufgaben neu auswählen</button></div>
    <h1>Termumformungen und Gleichungen lösen</h1>

    <div style="display:flex">
        <div class="exercise-solution-list">
            <button class="exercise-check-button" (click)="checkResults()">Prüfen</button><br/><br/>
            <table *ngIf="showResults">
                <th>Nr</th>
                <th>Lsg</th>
                <tr *ngFor="let exercise of math_exercises; index as eidx">
                    <td align="center">{{ eidx + 1 }}.</td>
                    <td align="center">
                        <span [ngClass]="choosenSolutions[eidx].value === exercise.solution?'solution-ok':'solution-error'">{{
                             solutionText(eidx) }}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div>
        <div class="exercise-list-item" style="grid-column:2" *ngFor="let exercise of math_exercises; index as eidx">
            <div class="exercise-topic">{{ eidx + 1 }}.&nbsp;</div><app-exercise [checkable]="true"
                [exercise]="exercise" [singleCheck]="false" [(choosenSolution)]="choosenSolutions[eidx]"></app-exercise>
        </div>
        </div>
    </div>
</div>