<div class="exercise-block">
    <div class="exercise-test-header">Prüfungsblätter drucken <button class="button-with-fade" (click)="refresh()">Aufgaben neu auswählen</button></div>
    <br/>
   <span class="exercise-title">{{ exerciseGroup.group.name }}</span> (Anforderungsebene {{ exerciseGroup.group.level }})
   <br/>
   <br/>
   {{ exerciseGroup.group.descr}}
    <div class="exercise-list-item" *ngFor="let exercise of exerciseGroup.exercises; index as eidx">
        <div class="exercise-topic">{{ eidx + 1 }}.&nbsp;</div><app-exercise [checkable]="false"
            [exercise]="exercise" [singleCheck]="false"></app-exercise>
    </div>
</div>