<div class="app-container">
  <div class="header hide-on-print">Tobens Zebra ;)</div>
  <!-- 
<div class="header-2">
  <select (change)="selectExerciseGroup($event)" *ngIf="!queryGroup">
    <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
  </select>
  <a class="nav-link" routerLink="/list/{{ choosenGroup.id }}">Übung</a><a class="nav-link" routerLink="/test/{{ choosenGroup.id }}">Test</a><a class="nav-link" routerLink="/print-test/{{ choosenGroup.id }}">Prüfungsblatt</a>
  <hr>
</div>
<div class="exercise-block | hide-on-print" *ngIf="choosenGroup">
<p></p>
{{ choosenGroup.descr }}<p></p>
</div>  -->
  <div class="content"><router-outlet></router-outlet></div>
  <div class="footer hide-on-print">Copyright 2023</div>
</div>