<div class="exercise-block" *ngIf="exerciseGroup$ | async as exerciseGroup">
   <div class="exercise-test-header">Übungen</div>
   <br/>
   <span class="exercise-title">{{ exerciseGroup.group.name }}</span> (Anforderungsebene {{ exerciseGroup.group.level }})
   <br/>
   <br/>
   {{ exerciseGroup.group.descr}}
   <div class="exercise-list-item" *ngFor="let exercise of exerciseGroup.exercises; index as eidx">
         <div class="exercise-topic">{{ eidx + 1 }}.&nbsp;</div><app-exercise [exercise]="exercise"></app-exercise>
   </div> 
</div>
