* {
    font-family: sans-serif;
}

body {
    padding-top: 100px;
}

.header {
    color:rgb(165, 165, 165); 
    position: fixed; top: 0px; left: 0px; right: 0px; 
    padding: 10px; 
    font-size: 30px; 
    background-color: white;
}

.nav-link {
    font-size: 14px;
    font-weight: bold;
}

.exercise-block {
    padding-left: 10%;
}

.exercise {
    //margin: 20px;
    //margin-bottom: 60px;
}

.exercise-list-item {
    margin: 20px;
    margin-bottom: 60px;
    display: flex;
}

.exercise-topic {
    font-size: 20px;
}

.exercise-result {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    margin-left: 20px;
}

.exercise-type-hint {
    font-size: 14px;
    color: gray;
}

.exercise-check-button {
    border-radius: 5px;
    padding: 5px;
    transition-duration: 200ms;
    transition-property: background-color;
}

.exercise-check-button:hover {
    background-color: blue;
    color: white;
}

.exercise-test-header {
    font-size: 35px;

    button {
        vertical-align: middle;
        border-radius: 5px;
        padding: 5px;
        transition-duration: 200ms;
        transition-property: background-color;
    }

    button:hover {
        background-color: blue;
        color: white;
    }
}

@media print {
    .header {
        display: none;
    }

    .exercise-test-header {
        display: none;
    }

    .exercise {
        break-inside: avoid;
    }
}