* {
    font-family: sans-serif;
}

body {
    padding-top: 50px;
}

.header {
    color:rgb(165, 165, 165); 
    position: fixed; top: 0px; left: 0px; right: 0px; 
    padding: 10px; 
    font-size: 30px; 
    background-color: white;
}

.nav-link {
    font-size: 14px;
    font-weight: bold;
}

.exercise-block {
    padding-left: 10%;
}

.exercise {
    margin: 20px;
    margin-bottom: 60px;
}

.exercise-topic {
    font-size: 20px;
}

.exercise-result {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    margin-left: 20px;
}

.exercise-type-hint {
    font-size: 14px;
    color: gray;
}

.exercise-check-button {
    border-radius: 5px;
    padding: 5px;
}

.exercise-check-button:hover {
    background-color: blue;
    color: white;
}